    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #808080; /* Gray background */
            color: white;
        }

        header {
            background-color: rgba(0, 0, 0, 0.9); /* Black container for header */
            color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
        }

        .logo {
            font-size: 24px;
            font-weight: bold;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        nav ul li {
            display: inline;
            margin-right: 15px;
        }

        nav ul li a {
            color: white;
            text-decoration: none;
            font-size: 18px;
        }

        nav ul li a:hover {
            text-decoration: underline;
        }

        .search-bar input {
            padding: 5px;
            font-size: 16px;
            background-color: white; /* White input field */
            color: black;
        }

        .search-bar button {
            padding: 5px 10px;
            font-size: 16px;
            cursor: pointer;
            background-color: white; /* White button */
            color: black;
            border: none;
            border-radius: 5px;
        }

        main {
            padding: 20px;
            display: flex;
            justify-content: space-around;
        }

        .video, .image, .about-me {
            width: 30%;
            text-align: center;
            background-color: #000000;
            padding: 10px;
            border-radius: 20px;
        }

        .video iframe, .image img {
            width: 80%;
            height: auto;
            border: 1px solid #ddd;
        }

        .about-me {
            color: white;
        }

        footer {
            background-color: rgba(0, 0, 0, 0.9);
            color: white;
            text-align: center;
            padding: 20px;
            margin-top: 20px;
        }
        footer a {
            color: white;
            text-decoration: none;
        }

        footer img {
            width: 10px;
            height: 10px;
            margin: 0 10px;
        }
    </style>